/* ----- CREATE TICKET PAGE ----- */
.form-create-ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  background-color: #f2cc8f;
  border-radius: 10px;
  margin: 5% auto;
  & form {
    margin: 3% 0;
    & .item {
      display: flex;
      flex-direction: column;
      }
    }
  }

