@import "../abstracts/variables";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', 'Roboto', 'Titillium Web', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

a {
  text-decoration: none;
}

