{% extends 'base.html' %}
{% block title %} S'inscrire {% endblock %}


{% block content %}

	<!--{% if form.errors %}-->
		<!--	{{ form.errors }}-->
		<!--{% endif %}-->

	<section class="form">
		<div class="form-box">
			<h2>Inscrivez-vous</h2>
			<form method="post">
				{% csrf_token %}
				{% for field in form %}
					<div class="item">
						{{ field.label_tag }}<br>
						{{ field }}
						{% if field.errors %}
							<small class="tooltiptext">{{ field.help_text }}</small>
						{% endif %}

						{% for error in field.errors %}
							<p>{{ error }}</p>
						{% endfor %}

					</div>

				{% endfor %}
				<input type="submit" value="S'inscrire"><br/>
				<a href="{% url 'appreview:home' %}">Retourner</a>
			</form>
		</div>
	</section>


{% endblock content %}
