<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %} {% endblock %}</title>
	<link rel="stylesheet" href="{% static 'sass/main.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Titillium+Web:wght@200;300;400;600;700;900&display=swap"
	      rel="stylesheet">
</head>
<body>
	{% include "partials/navbar_snippet.html" %}

	{% block content %} {% endblock %}
	

	{% include "partials/footer.html" %}

	<script src="{% static 'js/index.js' %}"></script>
</body>
</html>