{% extends 'base.html' %}
{% block content %}

	<section class="form">
		<div class="form-box existing">

			<div class="ticket-info">
				<p>Vous êtes en train de poster en réponse à:</p>
				<p>{{ ticket.user }} a demandé une critique</p>
				<h1>{{ ticket.title }}</h1>
				<p>{{ ticket.time_created }}</p>
				<p>
					{{ ticket.description }}
					<img src="{{ ticket.image.url }}" alt="">
				</p>
			</div>

			<form action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="item">
					{{ review_form.headline.label_tag }}
					{{ review_form.headline }}
					{{ review_form.headline.errors }}
				</div>
				<div class="item">
					{{ review_form.rating.label_tag }}
					{{ review_form.rating }}
					{{ review_form.rating.errors }}
				</div>
				<div class="item">
					{{ review_form.body.label_tag }}
					{{ review_form.body }}
					{{ review_form.body.errors }}
				</div>
				<input type="submit" value="Envoyer">
			</form>
		</div>
	</section>


{% endblock content %}