{% extends 'base.html' %}
{% block content %}

	<section class="create-review">
		<div class="form-create-ticket">
			<h1> Créer une Critique </h1>

			<form action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<h2> Livre / Article</h2>
				{% for field in ticket_form %}
					<div class="item">
						{{ field.label_tag }}
						{{ field }}
					</div>

				{% endfor %}
				<h2>Critique</h2>
				{% for field in review_form %}
					<div class="item">
						{{ field.label_tag }}
						{{ field }}
					</div>

				{% endfor %}
				<input type="submit" value="Envoyer">
			</form>
		</div>
	</section>


{% endblock content %}
