{% extends 'base.html' %}
{% block content %}

	<section class="review-existing-ticket">
		<div class="post">
			<div class="ticket-info">
				<h2>{{ ticket.title }}</h2>
				<h3>{{ ticket.time_created }}</h3>
				<p>
					{{ ticket.description }}
					<img src="{{ ticket.image.url }}" alt="">
				</p>
			</div>

			<form action="" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{ review_form.as_p }}
				<input type="submit" value="Envoyer">
			</form>
		</div>
	</section>


{% endblock content %}