{% extends 'base.html' %}
{% load appreview_extras %}


{% block content %}
	<section class="my-posts">
		<div class="box">
			<h1> MES POSTS</h1>

			{% for post in tickets_and_reviews %}
				<div class="content">

					{% if post|model_type == "Ticket" %}
						<div class="content-top">
							<p>Vous avez publié un ticket <br/></p>
							<p class="time-created">{{ post.time_created }}<br/></p>
						</div>
						<h2>{{ post.title }}<br/></h2>
						<div class="content-middle-ticket">
							<p>{{ post.description }}<br/></p>
							<img src={{ post.image.url }} alt=""><br/>
						</div>
						<div class="content-bottom">
							<div class="action-buttons">
								<a href="{% url 'appreview:update_ticket' post.id %}">MODIFIER</a>
								<a href="{% url 'appreview:delete_ticket' post.id %}">SUPPRIMER</a>
							</div>
						</div>

					{% elif post|model_type == "Review" %}
						<div class="content-top">
							<p>Vous avez publié une critique <br/></p>
							<p class="time-created">{{ post.time_created }}<br/></p>
						</div>

						<h2>{{ post.headline }} -
							{% for num in post.rating|to_range %}
								⭑
							{% endfor %}
						</h2>
						<div class="content-middle-review">
							<p>{{ post.body|default:"Pas de description" }}<br/></p>
						</div>


						<div class="ticket_of_review">
							<p>Ticket de {% get_poster_display post.ticket.user %}<br/></p>
							<h2>{{ post.ticket.title }}<br/></h2>

							<img src={{ post.ticket.image.url }} alt="">
						</div>
						<div class="action-buttons">
							<a href="{% url 'appreview:update_review' post.id %}">MODIFIER</a>
							<a href="{% url 'appreview:delete_review' post.id %}">SUPPRIMER</a>
						</div>

					{% endif %}
				</div>
			{% endfor %}
		</div>
	</section>

{% endblock content %}
